header {
		height: 80% !important;
		background-image: url('Solstice_Market_Pic.png'); 
	   	background-size: cover;
		margin: auto;
		display: flex;
	        align-items: center;
	        justify-content: center;        
		flex-direction: column;
	        width: 50%;
	        text-align: center;
	}
	

	h1 { 
		font-size: 48px
	}
	

	h2 {
		font-size: 40px
	}
	

	body {
		background-color: #000000;
	}
		
	nav {
	  margin: 0px;
	  padding: 0;
	  display: flex;
	  justify-content: space-around;
		background-color: #A9A9A9;
		font-size: 125%;
	}
	

	nav a {
	    font-size: 30px;
	}
	

	a {
		margin: 0px;
		font-size: 25px
	}
